:root {
    font-family: 'Open Sans';
    font-size: 16px;
    --text-primary: #ececec;
    --text-secondary: #1c8abd;
    --bg-primary: #232a2e;
    --bg-secondary: #141418;
}

@media only screen and (min-width: 400px) {
    :root {
        font-size: 16px;
        }
    .navigation {
    height: 100vh;
    width: 5rem;
    }
    .navigation:hover {
        width: 15rem;
    }
    .navigation:hover .link-text {
        display: block;
    }
    .navbar {
        flex-direction: column;
    }
    .page {
        padding: 0rem 12rem;
    }
}

@media only screen and (max-width: 400px) {
    .page {
        padding: 0rem 6rem;
    }
    .navigation {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        }
    .navbar {
            flex-direction: row;
            width: 100vw;
        }
    #content {
        margin: auto;
        max-width: 95vw;
    }
    .intro {
        gap: 1rem;
    }
    .intro>img {
        width:13rem;
    }
    
}

#content {
    margin: auto;
    max-width: 1024px;
}

html {
    scroll-behavior: smooth;
}

.school {
    color: red;
    text-decoration: none;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

.section img {
    width:20rem;
}

.section p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-secondary);
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.intro {
    display: flex;
    align-content: center;
    gap: 5rem;
}

#basic {
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

.background {
    height: 100vh;
    display: block;
    left: 0;
    right: 0;

}

.section {
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.click {
    text-decoration: none;
}

.button {
    color: white;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    position: relative;
    top: 2rem;
}

.page .head {
    width:fit-content;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.page .info {
    color: var(--text-secondary);
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.section .key h1 {
    color: rgba(112, 109, 109, 0.555);
    padding-bottom: 5rem;
    display: inline-block;
}

#word1 {
    position: relative;
}

#word2 {
    position: relative;
}

#word3 {
    position: relative;
}

.button:hover {
    font-weight:bold;
    background-color: var(--bg-secondary);
}

.page {
    justify-content: center;
    margin: 0;
}

.navigation {
    background-color: var(--bg-primary);
    position: fixed;
    z-index: 4;
    transition: width 200ms ease;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar {
    list-style-type: none;
    margin:0;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:hover {
    background-color: var(--bg-secondary);
}

#seneca {
    display: flex;
}


#waterloo {
    display: flex;
}

#mango {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    row-gap: 2rem;
}

#mango>img {
    border-radius: 25px;
    width: 17rem;
}

input {
    display: flex;
}

#message {
    resize:none;
}

#salary {
    display: none;
}
