:root {
    font-family: 'Open Sans';
    font-size: 8px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

@media only screen and (min-width: 1200px) {
    .line {
        transform: translate(70%) scaleX(0.5);
        right: 45%;
        width: 100%;
        }
        
        .key>h1 {
        bottom: 40px;
        }
        
        p {
        top: 40px
        }
    :root {
    font-size: 16px;
    }
    .navigation {
    height: 100vh;
    width: 5rem;
    }
    .navigation:hover {
        width: 15rem;
    }
    .navigation:hover .link-text {
        display: block;
    }
    .navbar {
        flex-direction: column;
    }
    .section {
        margin-left: 5rem;
    }
    .page {
        margin-left: 5rem;
        padding: 0rem 12rem;
    }
}

@media only screen and (max-width: 1200px) {
    * {
		transition-property: none !important;
		transform: none !important;
		animation: none !important;
    }
    .page {
        padding: 0rem 6rem;
    }
    .navigation {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        }
    .navbar {
            flex-direction: row;
        }
    .line {
        width: 45%;
        left: 55%;
    }
    #seneca>img {
        display:none;
    }
    #waterloo>img {
        display:none;
    }
}

html {
    scroll-behavior: smooth;
}

.school {
    color: red;
    text-decoration: none;
}

body {
    background-color: #383838;
    padding: 0;
    margin: 0;
}

.section p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-secondary);
    font-size: 3rem;
}

.background {
    height: 100vh;
    display: block;
    left: 0;
    right: 0;

}

.section {
    background-image: url(1579793.jpg);
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration:none;
    color: white;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3rem;
    opacity: 0;
    position: relative;
    bottom: 3rem;
}

.button[data-scroll="in"] {
    opacity: 1;
    transition: opacity 800ms ease;
    transition-delay: 1s;
}

.page .head {
    width:fit-content;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

@keyframes slider {
    0% {transform:translateX(-10%) scaleX(0.1);}
    50% {transform: translateX(90%) scaleX(0.1);}
}

.line {
    position: relative;
    font-size: 0.2rem;
    background-color: white;
    margin-bottom: 4rem;
    transition: 2s
}

.line[data-scroll="in"] {
    animation-name: slider;
    animation-duration: 1s;
}

.page .info {
    color: white;
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.section .key h1 {
    color: rgba(112, 109, 109, 0.555);
    padding-bottom: 5rem;
    display: inline-block;
}

#word1 {
    position: relative;
    opacity: 0;
}

#word1[data-scroll="in"] {
    opacity:1;
    transition: 1.2s ease;
    transform: translateY(40px);
}

#word2 {
    position: relative;
    opacity: 0;
}

#word2[data-scroll="in"] {
    opacity:1;
    transform: translateY(40px);
    transition: 1.2s ease;
    transition-delay: 200ms;
}

#word3 {
    position: relative;
    opacity: 0;
}

#word3[data-scroll="in"] {
    opacity:1;
    transform: translateY(40px);
    transition: 1.2s ease;
    transition-delay: 400ms;
}

.button:hover {
    font-weight:bold;
    background-color: var(--bg-secondary);
}

.page {
    justify-content: center;
    margin: 0;
}

.navigation {
    background-color: var(--bg-primary);
    position: fixed;
    z-index: 4;
    transition: width 200ms ease;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar {
    list-style-type: none;
    margin:0;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:hover {
    background-color: var(--bg-secondary);
}

#seneca {
    display: flex;
}


#seneca>img {
    padding-right: 1rem;
    height: 20rem;
}

#waterloo {
    display: flex;
}

#waterloo>img {
    height: 20rem;
}

p {
    position: relative;
    opacity: 0;
    transition: 0.8s ease;
}

p[data-scroll="in"] {
    opacity:1;
    transform: translateY(-40px);
}

#mango>img {
    width: 17rem;
}